.container {
    display: flex;
    padding: 20px;
    gap: 40px;
    background-color: #212C3A;
    color: white;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.containerConteudo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.images {
    display: flex;
    gap: 15px;
}

.images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.dadosInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;

    .infoTitulo {
        color: white;
        font-size: 25px;
    }

}

.dados {
    display: flex;
    align-items: center;
    background-color: #1D2836;
    color: #ffffff;
    flex-direction: column;
    padding: 30px;
    width: 600px;
    border-radius: 21px;

    button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #dfdfdf;
        color: #398fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition:all 0.3s;
        font-family: "Poppins", sans-serif;
        &:hover{
            transform: scale(1.01);
            background-color: #ffff;
        }
    }

}

.containerDireita {

    display: flex;
    flex-direction: column;
    gap: 15px;

    .caixaMais {
        display: flex;
        background-color: #1D2836;
        color: #ffffff;
        flex-direction: column;
        padding: 30px;
        width: 100%;
        border-radius: 21px;
        justify-content: start;

        .Mais {
            display: flex;
            gap: 15px;

            img {
                width: 100px;
                object-fit: cover;
            }

            .containerEsporteAposta {
                gap: 5px;
                display: flex;
                flex-direction: column;

                .apostaEsporte {
                    display: flex;
                    gap: 12px;
                    flex-direction: row;
                    align-items: center;
                    background-color: #1E3B61;
                    max-height: 85px;
                    height: 100%;
                    padding: 4px;
                    border-radius: 25px;

                    .conteudoTime {
                        display: flex;
                        align-items: center;
                        img {
                            width: 50px;
                            object-fit: cover;
                        }
                        .placar{
                            color: white;
                            font-size: 20px;
                            font-weight: 600;
                            width: 35px;
                            text-align: center;
                        }
                    }

                    .xis {
                        font-size: 45px;
                        font-weight: 600;
                    }
                    
                }
            }


        }
    }
}





.saldoContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    max-width: 1220px;
    width: 100%;

    .caixaSaldo {
display: flex;
flex-direction: column;
align-items: center;
        .saldoButton {
            font-family: "Poppins", sans-serif;
            padding: 10px 20px;
            background-color: #50759c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
           &:hover{
            transform: scale(1.01);
           }
        }
    }
}




body {
    margin: 0;
    padding: 0;

    /* azul escuro */
}