
 .containerDetalhes {
    background-color: #212C3A;
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

  
    .conteudoDetalhes {
        display: flex;
        flex-direction: column;
        gap: 25px;

        width: 80%;

        .textoOne {

            display: flex;
            flex-direction: column;

            .nameSlot {
                color: white;
                font-size: 35px;
                padding: 20px 0;
            }
        }

        p {
            color: white;
        }
    }
}