/* style.module.css */

.app {
  display: flex;
  flex-direction: column;
  background-color: #212C3A;
  align-items: center;
  padding: 55px;

}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.matchHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.topHeader {
  background: white;
  color: #0e1621;
  text-align: center;
  padding: 1rem 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.topHeader h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.topHeader p {
  margin: 0.3rem 0 0 0;
  font-size: 17px;
  font-weight: 500;
}

.botHeader {
  background: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .versus {
    font-size: 45px;
    font-weight: 600;
    color: #000;
    margin: 0;
  }
}

.botHeader>img {
  width: 40px;
  height: auto;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.time h1 {
  color: #0e1621;
  font-size: 17px;
  font-weight: 600;
}

.time img {
  width: 65px;
  height: auto;
}

.section {
  margin-top: 2rem;
}







.Resultado {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;

  h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
  }

  .oddsResultado {
    background-color: #1D2836;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .oddResultadoMeio {
      display: flex;
      justify-content: center;
      border-right: solid 1px white;
      border-left: solid 1px white;
      padding: 15px 0px;
      width: 100%;

      align-items: center;
      text-align: center;
      flex-direction: row;

      span {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 25px;
        font-weight: 600;
        color: #197EFF;

        small {
          font-size: 25px;
          font-weight: 500;
          color: #ffff;
        }
      }
    }

    .oddResultado {
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      flex-direction: row;

      span {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 25px;
        font-weight: 600;
        color: #197EFF;

        small {
          font-size: 25px;
          font-weight: 500;
          color: #ffff;
        }
      }
    }
  }
}

.sectionGols {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;

  h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
  }

  .goalsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .goalsBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

    }
  }

  .goalsNumbers {

    width: 100%;
    background-color: #1D2836;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



    .number {
      border-right: solid 1px #fff;
      text-align: center;
      width: 100%;
      color: white;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.5s;
      padding: 10px;
    }

    .numberInicio {
      cursor: pointer;
      text-align: center;
      width: 100%;
      color: white;
      font-size: 20px;
      font-weight: 600;
      transition: all 0.5s;
      padding: 10px;
      border-right: solid 1px white;
    }

    .numberFinal {
      cursor: pointer;
      text-align: center;
      width: 100%;
      color: white;
      font-size: 20px;
      font-weight: 600;
      transition: all 0.5s;
      padding: 10px;
    }
  }

  .goalsLabel {
    width: 50%;
    background-color: #1D2836;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;

  }

  .goalsLabel:hover {
    transform: scale(1.03);
    background-color: #254162;
    transition: all 0.5s;
  }

  .number:hover {
    background-color: #254162;
    transition: all 0.5s;

  }

  .numberInicio:hover {
    background-color: #254162;
    transition: all 0.5s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .numberFinal:hover {

    background-color: #254162;
    transition: all 0.5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}


.sectionCartoes {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;

  h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
  }

  .cartoesCaixas {
    width: 100%;

    .gridCartoes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }

    .caixaCartao {
      cursor: pointer;
      width: 100%;
      background-color: #1D2836;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      padding: 20px;

      .conteudoCartao {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cartaoRed {
          font-size: 30px;
          font-weight: 500;
          color: red;
        }

        .cartaoAmarelo {
          font-size: 30px;
          font-weight: 500;
          color: yellow;
        }

        .nameTime {
          font-size: 25px;
          font-weight: 300;
          color: #fff;
        }
      }

      strong {
        font-size: 25px;
        font-weight: 600;
        color: #197EFF;
      }
    }
  }
}

.sectionMarcam {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;

  h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
  }

  .options {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;

    .caixaOption {
      width: 100%;
      background-color: #1D2836;
      border-radius: 15px;
      display: flex;
      border: 0;
      cursor: pointer;
      align-items: center;
      padding: 20px;

      span {
        font-size: 25px;
        font-weight: 600;
        color: #197EFF;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;

        small {

          font-size: 25px;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

.sectionFaltas {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;

  h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
  }

  .faltas {
    width: 100%;


    .gridFaltas {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }

    .caixaFalta {
      cursor: pointer;
      width: 100%;
      background-color: #1D2836;
      border-radius: 15px;
      display: flex;
      border: 0;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px;
      gap: 15px;

      .conteudoFalta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .faltastext {
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;


        }

        .nameTime {
          font-size: 25px;
          font-weight: 600;
          color: #197EFF;
        }

      }

      strong {
        font-size: 25px;
        font-weight: 600;
        color: #197EFF;
      }
    }
  }
}
.botaoEnviar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ;
  a{
    background-color: #197EFF;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: #E8E8E8;
    font-size: 20px;
    font-weight: 600;
  
  }
  :hover{
    background-color: #2f89ff;
    transition: all 0.5s;
    transform: scale(1.03);
  }
}
.overlayPesquisar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.pesquisaContainer {
  display: flex;
  padding: 40px;
  border-radius: 12px 22px;
  align-items: center;
  background-color: #197EFF;
  gap: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  h2{
    color: white;
  }

}