.containerInicio {
    display: flex;
    flex-direction: column;
    background-color: #212C3A;
    align-items: center;
    padding: 25px;
    

    .conteudo {
        display: flex;
        gap: 30px;
        flex-direction: column;
        width: 90%;

        .banerInicio {
            padding: 20px;
            display: flex;
            flex-direction: row;
            background-color: #2B3B4F;
            border-radius: 10px;
            gap: 45px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .imagensCamp {
                max-width: 350px;
                width: 100%;

                img {
                    padding-bottom: 5px;
                    max-height: 400px;
                    margin-left: 10px;
                    border-radius: 10px;
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            .conteudoBaner {
                display: flex;
                flex-direction: column;
                max-width: 650px;
                width: 100%;
                justify-content: space-between;
                gap: 45px;

                .tituloBaner {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h2 {
                        margin-top: 15px;
                        color: white;
                        font-size: 40px;
                    }
                }

                h3 {
                    color: white;
                    font-size: 25px;
                    font-weight: 500;
                    max-width: 500px;
                }

                .botaoCadastrar {
                    width: 50%;
                    padding: 15px;
                    color: #fff;
                    font-size: 25px;
                    border-radius: 12px;
                    font-weight: 600;
                    transition: 0.5s;
                    border: 0;
                    cursor: pointer;
                    background-color: #197EFF;

                    &:hover {
                        transform: scale(1.04);
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                            rgba(0, 0, 0, 0.12) 0px -12px 30px,
                            rgba(0, 0, 0, 0.12) 0px 4px 6px,
                            rgba(0, 0, 0, 0.17) 0px 12px 13px,
                            rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    }
                }
            }
        }
    }
}

.caixasCampeonato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    display: flex;
   justify-content: center;
  

    .caixaCampeonato {
        
        background: #2B3B4F;
        border-radius: 10px;
        border: 1px solid rgb(193, 193, 193);
        max-width: 590px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 15px;

        .conteudoCampeonato {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            gap: 25px;
            max-width: 400px;
            width: 100%;
            color: white;

            .tituloCampeonato{
                height: 96px;
                display: flex;
                align-items: center;
            }
            .descCampeonato {
                height: 60px;
            }


            .botaoApostar {
                text-decoration: none;
                padding: 6px;
                border-radius: 12px;
                max-width: 200px;
                width: 100%;
                color: #fff;
                background-color: #197EFF;
                font-size: 25px;
                font-weight: 600;
                cursor: pointer;
                border: 0;
                transition: 0.5s;
                font-family: "Poppins", sans-serif;
                text-align: center;

                &:hover {
                    transform: scale(1.07);
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                }
            }
        }

        .imagemCampeonato {
            img {
                object-fit: cover;
                width: 230px;
                border-radius: 10px;
            }
        }
    }
}

.tituloBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    h1 {
        color: white;
        font-size: 40px;
    }

    .verMaisBotao {
        background-color: #fff;
        border-radius: 11px;
        transition: all 0.5s;
        a {
            text-decoration: none;
            padding: 6px 40px;
            border-radius: 11px;
            color: #197EFF;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            cursor: pointer;
           
        }

        &:hover {
            transition:all 0.5s;
            transform: scale(1.1);
        }
    }
}
.containerApostas{
   display: flex;
   flex-direction: column;
   .caixa{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
   }
}



.caixaFut {
    max-width: 550px;
    width: 100%;
    display: flex;
    background: #1E3B61;
    flex-direction: column;
    padding: 20px;
    border-radius: 32px;
    text-decoration: none   ;

    .time {
        text-align: center;
        padding: 10px 20px 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

        .timeAposta {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: white;
            }

            img {
                width: 60px;
                height: 60px;
            }
        }
    }

    .meio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        p {
            color: white;
            margin: 0;
        }

        .genero {
            font-size: 35px;
            font-weight: 400;
        }

        .xis {
            font-size: 35px;
            font-weight: 800;
        }

        .horario {
            font-size: 25px;
            font-weight: 500;
        }
    }

    hr {
        width: 100%;
        height: 3px;
        background-color: #dddddd;
       border: none;
    }

    .odds {
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;

        .vitoria,
        .empate,
        .derrota {
            padding: 10px 15px;
            border-radius: 40px;
            max-width: 150px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s;

            span {
                color: white;
                font-size: 25px;
                font-weight: 700;
            }

            &:hover {
                transform: scale(1.02);
            }
        }

        .vitoria {
            background-color: #15DF6D;

            &:hover {
                background-color: #00ff6e;
            }
        }

        .empate {
            background-color: #406493;

            &:hover {
                background-color: #1e66c5;
            }
        }

        .derrota {
            background-color: #E11D20;

            &:hover {
                background-color: #ff0004;
            }
        }
    }
}

.containerSlots {
    .tituloCima {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        h1 {
            color: white;
            font-size: 40px;
        }

        .seta {
            button {
                background: transparent;
                border: 1px solid white;
                border-radius: 40px;
                display: flex;
                gap: 10px;
                padding: 10px;
            }
        }
    }

    .carroselSlots {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .slots {
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.containerPatrocinadores {
    padding: 30px 0 50px 0;

    .tituloCima {
        padding-bottom: 50px;

        h1 {
            color: white;
            font-size: 40px;
        }
    }

    .gridPatrocionios {
        display: grid;
        

        .caixasPatrocinio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            .caixaPatrocinio {
                height: 155px;
                background-color: #1D2836;
                border-radius: 20px;
                padding: 10px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
             
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.06);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }
            }
        }
    }
}