.sidenav {
    height: 100%;
    width: 240px;
    padding: 10px 10px;
    transition: all 0.5s;
    background-color: #1D2836;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;

    .elementos {
        background-color: #2B3B4F;
        border-radius: 12px;
        padding: 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .bloco {
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: 0.5s;
            padding: 2px 6px;

            a {

                padding: 5px 12px;
                text-decoration: none;
                color: white;
                transition: all 0.5s;
            }


        }


    }
}

.sidenav::-webkit-scrollbar {
    background: transparent;

}

.bloco:hover {
    background-color: #294e7b;
    border-radius: 8px;
    transition: 1s;
    transform: scale(1.05);
}

.sidebarOverlay {
    transition: all 0.5s;
    background-color: #1D2836;
    width: 90px;
    height: 93vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    overflow: scroll;

    .caixa {
        padding: 5px 6px;
        transition: 0.7s;
        border-radius: 8px;
        a {
            text-decoration: none;
        }
    }
    .elementos {

        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: white 1px solid;
      

        .icones {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;

           
        }
    }

    .elementosFinal {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icones {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;

        }
    }
}

.caixa:hover {
    background-color: #294e7b;
    border-radius: 8px;
 
    transform: scale(1.05);
}
.sidebarOverlay::-webkit-scrollbar {
    background: transparent;

}